.menu-page-1.level1.level1-first span {
    display: none;
}

a.menu-page-118122.level1 {
    display: none;
}

a.menu-page-174039.level1.level1-onpath.level1-last {
    display: none;
}

a.menu-page-174039.level1.level1-onpath.level1-last span {
    font-size: 0;
}

h1.pageTitle {
    display: none;
}

table.topmenucontainer ul {
    text-align:center;
}

table.topmenucontainer ul li {
    display: inline-block;
    margin: 0px auto 0px auto;
    float: initial;
}

div#room-menu {
    display: none;
}

div#main {
    margin: 0 auto;
    margin-top: -20px;
}


